@model WebAtividadeEntrevista.Models.ClienteBeneficiarioModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var urlPostBeneficiario = '@Url.Action("BeneficiarioIncluir", "Cliente", new { area = "" })';
        var urlPutBeneficiario = '@Url.Action("BeneficiarioAlterar", "Cliente", new { area = "" })';
        var urlDeleteBeneficiario = '@Url.Action("BeneficiarioExcluir", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/altClientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")