
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var urlPostBeneficiario = '@Url.Action("BeneficiarioIncluir", "Cliente", new { area = "" })';
        var urlPutBeneficiario = '@Url.Action("BeneficiarioAlterar", "Cliente", new { area = "" })';
        var urlDeleteBeneficiario = '@Url.Action("BeneficiarioExcluir", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/clientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")